.FSE-DateLine {
    padding: 5px 10px;
    margin: 0 -10px;
    border-bottom: solid 1px #e3e3e3;
    display: flex;
    align-items: center;
}
.FSE-DateLine-progress {
    flex-grow: 1;
    text-align: right;
}
.FSE-DateLine-date {
    font-size: 11px;
    color: #888;
    margin-left: 5px;
    margin-top: 3px;
}
.FSE-DateLine-dateIcon {
    background-size: contain;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.FSE-DateLine-statusIcon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    display: block;
    float: right;
}

.FSE-DateLine-iconSuccess { background-image: url('../images/ok.png'); }
.FSE-DateLine-iconBusy { background-image: url('../images/loading.gif'); background-size: 22px 22px; }
.FSE-DateLine-iconError { background-image: url('../images/error.png'); }

.FSE-DateLine-dateIcon-1 { background-image: url('../images/calendar-1.png'); }
.FSE-DateLine-dateIcon-2 { background-image: url('../images/calendar-2.png'); }
.FSE-DateLine-dateIcon-3 { background-image: url('../images/calendar-3.png'); }
.FSE-DateLine-dateIcon-4 { background-image: url('../images/calendar-4.png'); }
.FSE-DateLine-dateIcon-5 { background-image: url('../images/calendar-5.png'); }
.FSE-DateLine-dateIcon-6 { background-image: url('../images/calendar-6.png'); }
.FSE-DateLine-dateIcon-7 { background-image: url('../images/calendar-7.png'); }
.FSE-DateLine-dateIcon-8 { background-image: url('../images/calendar-8.png'); }
.FSE-DateLine-dateIcon-9 { background-image: url('../images/calendar-9.png'); }
.FSE-DateLine-dateIcon-10 { background-image: url('../images/calendar-10.png'); }
.FSE-DateLine-dateIcon-11 { background-image: url('../images/calendar-11.png'); }
.FSE-DateLine-dateIcon-12 { background-image: url('../images/calendar-12.png'); }
.FSE-DateLine-dateIcon-13 { background-image: url('../images/calendar-13.png'); }
.FSE-DateLine-dateIcon-14 { background-image: url('../images/calendar-14.png'); }
.FSE-DateLine-dateIcon-15 { background-image: url('../images/calendar-15.png'); }
.FSE-DateLine-dateIcon-16 { background-image: url('../images/calendar-16.png'); }
.FSE-DateLine-dateIcon-17 { background-image: url('../images/calendar-17.png'); }
.FSE-DateLine-dateIcon-18 { background-image: url('../images/calendar-18.png'); }
.FSE-DateLine-dateIcon-19 { background-image: url('../images/calendar-19.png'); }
.FSE-DateLine-dateIcon-20 { background-image: url('../images/calendar-20.png'); }
.FSE-DateLine-dateIcon-21 { background-image: url('../images/calendar-21.png'); }
.FSE-DateLine-dateIcon-22 { background-image: url('../images/calendar-22.png'); }
.FSE-DateLine-dateIcon-23 { background-image: url('../images/calendar-23.png'); }
.FSE-DateLine-dateIcon-24 { background-image: url('../images/calendar-24.png'); }
.FSE-DateLine-dateIcon-25 { background-image: url('../images/calendar-25.png'); }
.FSE-DateLine-dateIcon-26 { background-image: url('../images/calendar-26.png'); }
.FSE-DateLine-dateIcon-27 { background-image: url('../images/calendar-27.png'); }
.FSE-DateLine-dateIcon-28 { background-image: url('../images/calendar-28.png'); }
.FSE-DateLine-dateIcon-29 { background-image: url('../images/calendar-29.png'); }
.FSE-DateLine-dateIcon-30 { background-image: url('../images/calendar-30.png'); }
.FSE-DateLine-dateIcon-31 { background-image: url('../images/calendar-31.png'); }