
.ReactModalPortal {
    position: relative;
    z-index: 10005;
}

.FSE-Dates {

}



@keyframes fadeInDown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.FSE-Modal-content {
    animation-name: fadeInDown;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-delay: .1s;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0px 10px;
    width: 300px;
    max-height: 80%;
    z-index: 200001;

}
.FSE-Modal-overlay {
    animation: fadeInDown .3s both;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffffbf;
}



.Dates-header {
    font-weight: bold;
    text-align: left;
    border-bottom: solid 1px #e3e3e3;
    padding: 10px 10px;
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
}
.Dates-footer {
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    margin: 0 -10px;
}
.Dates-header a,
.Dates-footer a {
    cursor: pointer;
}