.YSE-StartActive {
    position: relative;
}
.YSE-StartActive.is-active {
    color: #0078ff;
}
.YSE-StartActive.is-active:before {
    background: linear-gradient(left, #0056b7 60%, #0078ff);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .3s ease;
    width: 100%;
}
.YSE-StartActive.is-active:after {
    color: #fff;
    content: attr(data-content);
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}